# Python template
__pycache__/
*.py[cod]
*$py.class


# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/


# pyenv
.python-version


# etc
.venv
.pytest_cache/
.env
.vscode
*.sqlite3
*.exe